services:
  engine-antiginx-engined:
    build: 
      context: .
      dockerfile: Dockerfile
    command: /engine-antiginx/Engined

    container_name: engine-antiginx-daemon
    restart: unless-stopped

    ports:
      - "${ENGINE_ANTIGINX_DAEMON_PORT}:9090"

    env_file:
      - .env

    mem_limit: 1024m