services:
  engine-antiginx:
    image: ghcr.io/prawo-i-piesc/engine-antiginx:latest
    command: /engine-antiginx/Engined

    container_name: engine
    restart: unless-stopped

    ports:
      - "${ENGINE_PORT}:5000"

    environment:
      - BACK_URL=${BACK_URL}
      - RABBITMQ_URL=${RABBITMQ_URL}

    mem_limit: 1024m

    networks:
      - vpn-net

networks:
  vpn-net:
    external: true