name: AI Review (Go)

on:
  pull_request:
    types: [opened, reopened, ready_for_review]
  
jobs:
  gemini_pr_review:
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write 
      issues: write 
    steps:
      - name: Start PR-Agent with Gemini
        uses: qodo-ai/pr-agent@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          github_action_config.auto_review: "true"
          github_action_config.auto_describe: "true"
          github_action_config.auto_improve: "true"
          
          GEMINI_KEY: ${{ secrets.GEMINI_API_KEY }}
          config.model: "gemini/gemini-2.5-flash"
          config.fallback_models: '["gemini/gemini-2.5-flash"]'

