name: AI Review with Gemini

on:
  pull_request:
    types: [opened, reopened, synchronize]
  
permissions:
  contents: read
  pull-requests: write
      
jobs:
  review:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

        with:
          fetch-depth: 0

      - name: Code Review by Gemini AI
        uses: rubensflinco/gemini-code-review-action@1.0.5

        with:
          gemini_api_key: ${{ secrets.GEMINI_API_KEY }}
