name: AI Code Review (Gemini)

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  label:
    runs-on: ubuntu-latest

    permissions:
      issues: write  # Write permission to add labels
      pull-requests: write 
      contents: read  # Read permission to analyze the content

    steps:
      - name: Label Issues and PRs
        uses: Prachi-Jamdade/auto-labeler@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          gemini-api-key: ${{ secrets.GEMINI_API_KEY }}
          label-mapping: '{"bug": "bug", "feature": "enhancement", "documentation": "docs", "question": "question"}'
          max-issues: 30
