name: Release Build

permissions:
    contents: read

on:
    push:
        branches: [ "main" ]

jobs:
    create_release:
        permissions:
            contents: write
            packages: write
            pull-requests: write

        runs-on: ubuntu-latest

        steps:
        - uses: release-drafter/release-drafter@v6
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            config-name: .github/config.create-release.yml