name: Release Build
run-name: Release-${{ github.event.number }}

permissions:
    contents: read

on:
    push:
        branches: [ "main" ]
    pull_request:
        types: [opened, reopened, synchronize]

jobs:
    create_release:
        permissions:
            contents: write
            packages: write
            pull-requests: write

        runs-on: ubuntu-latest

        steps:
        - uses: release-drafter/release-drafter@v6
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            config-name: config.create-release.yml
