name: Release - draft release-notes
run-name: release-draft-${{ github.event.number }}

on:
    push:
        branches: 
            - main
    pull_request:
        types: [opened, reopened, synchronize]
    pull_request_target:
        types: [opened, reopened, synchronize]

permissions:
    contents: read

jobs:
    create_release:
        permissions:
            contents: write
            packages: write
            pull-requests: write

        runs-on: ubuntu-latest

        steps:
        - uses: release-drafter/release-drafter@v6
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            config-name: config.release-drafter.yml
