name: CI Test
run-name: >-
    ${{ 
        github.event_name == 'pull_request' 
        && format('Vulnerability CI Test for PR #{0} -> {1}', github.event.number, github.event.pull_request.title)
    }}
on:
    pull_request:
        types: [opened, synchronize, reopened]

permissions:
    contents: read

jobs:
    vulnerability-ci-test:
        name: Vulnerability - Testing
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v5

        - name: Set up Go
          uses: actions/setup-go@v6
          with:
            go-version-file: 'go.mod'

        - name: Install govulncheck
          run: go install golang.org/x/vuln/cmd/govulncheck@latest

        - name: Build Docker Image for Scanning
          run: docker build -t ${{ github.repository }}:ci-test .

        - name: Go Vulnerability Check - Go Modules
          run: |
            print_status() {
                if [ $1 -eq 0 ]; then
                    echo "✅ $2 - OK"
                else
                    echo "❌ $2 - BŁĄD"
                    exit 1
                fi
            }
            echo "Running govulncheck on Go modules:"
            echo "----------------------------------------"
            govulncheck ./...
            print_status $? "govulncheck modules"

        - name: Trivy Vulnerability Check - File System
          uses: aquasecurity/trivy-action@master
          with:
            scan-type: fs
            ignore-unfixed: true
            format: table
            severity: CRITICAL,HIGH,MEDIUM
            exit-code: '1'

        - name: Trivy Vulnerability Check - Container Image
          uses: aquasecurity/trivy-action@master
          with:
            scan-type: image
            image-ref: ${{ github.repository }}:ci-test
            ignore-unfixed: true
            vuln-type: os,library
            format: table
            severity: CRITICAL,HIGH,MEDIUM
            exit-code: '1'
